<h5>{{ user?.firstName | titlecase }} {{ user?.lastName | titlecase }}</h5>
<form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="password">{{const.password}}</label>
    <input
      type="password"
      class="form-control"
      id="password"
      formControlName="password"
    />
    <span
      *ngIf="
        updateForm?.get('password')?.errors?.required &&
        updateForm?.get('password').touched
      "
      class="text-danger"
    >
      {{const.passwordErrorText}}
    </span>
    <span
      *ngIf="
        updateForm?.get('password').errors?.minlength &&
        updateForm?.get('password').touched
      "
      class="text-danger"
    >
      {{const.passwordLengthError}}
    </span>
  </div>
  <div class="form-group">
    <label for="age">{{const.age}}</label>
    <input type="text" class="form-control" id="age" formControlName="age" />
    <span
      *ngIf="
        updateForm?.get('age')?.errors?.required &&
        updateForm?.get('age').touched
      "
      class="text-danger"
    >
      {{const.ageError}}
    </span>

    <span
      *ngIf="
        updateForm?.get('age').errors?.maxlength &&
        updateForm?.get('age').touched
      "
      class="text-danger"
    >
     {{const.ageInvalidError}}
    </span>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!updateForm?.valid">
    {{const.updateButtonLabel}}
  </button>
</form>
