<div class="conatiner">
    <div class="nav justify-content-end">
        <div class="nav-item">
            <a class="nav-link" routerLink="" routerLinkActive="font-weight-bold" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" routerLink="/active" routerLinkActive="font-weight-bold">Active</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" routerLink="/deleted" routerLinkActive="font-weight-bold">Deleted</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" routerLink="/manage" routerLinkActive="font-weight-bold">Manage</a>
        </div>   
    </div>
    <hr>
    <router-outlet></router-outlet>
</div>

